.c2{
    color: #1a2737
}
.c2{
    color: #31435b
}
.c2{
    color: #6e7681
}
.c2{
    color: #3c5068
}
.c2{
    color: #6f8cac
}
.c2{
    color: #9eabbb
}
.c2{
    color: #2f6196
}
.c2{
    color: #65a9f0
}
.c2{
    color: #a1bfe1
}
.c2{
    color: #96182d
}
.c2{
    color: #ed405c
}
.c2{
    color: #6d7276
}
.c2{
    color: #dce5ea
}