body, html {
    height: 100%;
    background-color: #1a2737;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Imagen Grande */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.jpg");
  height: 75%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Texto */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Boton */
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

/* Navbar */
  .navbar {
    display: flex;
    background-color: #96182d;
    height: 50px;
    top: 0;
    position: sticky;
    z-index: 1;
  }

/* Navmenu */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

/* Navmenu Links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

/* Navmenu Links Hover */
  .sidenav a:hover {
    color: #f1f1f1;
  }

/* Navmenu Closebutton */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

/* TestContent */
  .content2{
    background-image: url("bh.jpg");
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .content{
    height: 300px;
  }