body{
    background-color: #3c5068;
}

/*color*/
.c201{
    color: #1a2737
}
.c202{
    color: #31435b
}
.c203{
    color: #6e7681
}
.c204{
    color: #3c5068
}
.c205{
    color: #6f8cac
}
.c206{
    color: #9eabbb
}
.c207{
    color: #2f6196
}
.c208{
    color: #65a9f0
}
.c209{
    color: #a1bfe1
}
.c210{
    color: #96182d
}
.c211{
    color: #ed405c
}
.c212{
    color: #6d7276
}
.c213{
    color: #dce5ea
}

/*background*/
.bc201{
    background: #1a2737
}
.bc202{
    background: #31435b
}
.bc203{
    background: #6e7681
}
.bc204{
    background: #3c5068
}
.bc205{
    background: #6f8cac
}
.bc206{
    background: #9eabbb
}
.bc207{
    background: #2f6196
}
.bc208{
    background: #65a9f0
}
.bc209{
    background: #a1bfe1
}
.bc210{
    background: #96182d
}
.bc211{
    background: #ed405c
}
.bc212{
    background: #6d7276
}
.bc213{
    background: #dce5ea
}