.create-account {
    display: flex;
    align-items: center;
    padding: 40px 80px 40px 40px ;
    background-color: #262626;
    height: 500px;
    justify-content: space-between;
    flex-direction: column;
}

.custom-text{
    color: white;
}
.custom-button{
    color: white;
}
.containerAccount{
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    padding: 20px;
    width: 400px;
    height: 250px;
}
.cancelar{
    margin-top: 35%;
}