.login-screen {
    display: flex;
    align-items: center;
    padding: 40px 80px 40px 40px ;
    background-color: #262626;
    height: 500px;
    justify-content: space-between;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    padding: 20px;
    width: 400px;
    height: 250px;
}

.button-container {
    align-self: flex-end;
}

.welcome-text-container {
    background-color: darkgrey;
    padding: 10px;
}